@import "../utils/variables";

.sidebar {
  width: 23vw;
  height: 100vh;

  a {
    color: $dark;
  }
  li:hover {
    a::before{
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      width: 4px;
      background: $primary;
    }
    a {
      color: $primary;
    }
  }

  &-user{
    img{
      width: 40px;
      height: 40px;
    }
    .info{
      line-height: 17px;
    }
  }
}
